#about::after {
    content: "";
    background: url(../img/code.gif) no-repeat center center/cover;
    z-index: -1;
    position: absolute;
    top: 113px;
    width: 92%;
    height: 85%;
    overflow: hidden;
}

.about-me {
    margin-top: 15px;
    position: absolute;
    left: 19px;
}

.about-me h1 {
    text-align: center;
    font-size: 3rem;
}

.about-me h2 {
    margin-top: -15px;
}

.about-content {
    max-width: 380px;
}

.about-me span {
    text-align: justify;
    font-size: 1.3rem;
    font-style: italic;
}

.about-content a {
    text-decoration: none;
    margin-top: 25px;
}