@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
:root {
    --main-color: #0cc3ce;
    --font1: "Baloo Bhaina 2", cursive;
    --font2: "Roboto", sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.my-2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-weight: 700;
    padding: 0 35px;
    font-size: 12px;
    line-height: 47px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    border-style: solid;
    font-family: Poppins, sans-serif;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all .3s ease-out;
}

.btn:hover {
    background-color: rgb(14, 13, 13);
    color: white;
    border-radius: 5px;
}